 b, ul   {
    color:antiquewhite;
    background-color:lightblue;
    font-style:italic
}

h2 {
    color:aqua;
    background:lightcyan
}


/*
                "paste to file from S H A F E E Q. to everyone:    4:49 PM
                <link rel="stylesheet" href="mystyle.css">"

                */